{% extends 'base/base.html'%}
			

{% block content%}


			<!-- Content area -->
			<table class="table table-borderless">
				<thead class="border-bottom font-weight-bold">
					<tr>
						<td>prime_ttc_A</td>
						<td>prime_ttc_B</td>
						<td>numero_police</td> 
						<td>numero_attestation</td>
						<td>numero_CEDEAO</td>
						<td>date_signature</td>
						<td>date_debut</td>
						<td>date_fin</td>
						<td>prime_net_A </td>
						<td>prime_net_B</td>
						<td>accessoire_A </td>
						<td>accessoire_B</td>
						<td>taxe_A</td>
						<td>taxe_B</td>
						<td>CEDEAO </td> 
						<td>type_contrat </td>
						<td>compagnie </td>
						<td>assurés </td>
						<td>
							<a href="{% url 'Police_insert'%}" class="btn btn-outline-success">
								<i class="fas fa-plus"></i> Nouveau
							</a>
						</td>
					</tr>
					
				</thead>
				<tbody>
					{% for Police in Police_list %}
					<tr>
						<td>{{Police.prime_ttc_A}}</td>
						<td>{{Police.prime_ttc_B}}</td>
						<td>{{Police.numero_police}}</td>
						<td>{{Police.numero_attestation}}</td>
						<td>{{Police.numero_CEDEAO}}</td>
						<td>{{Police.date_signature}}</td>
						<td>{{Police.date_debut}}</td>
						<td>{{Police.date_fin}}</td>
						<td>{{Police.prime_net_A }}</td>
						<td>{{Police.prime_net_B}}</td>
						<td>{{Police.accessoire_A }}</td>
						<td>{{Police.accessoire_B}}</td>
						<td>{{Police.taxe_A}}</td>
						<td>{{Police.taxe_B}}</td>
						<td>{{Police.CEDEAO }}</td>
						<td>{{Police.type_contrat }}</td>
						<td>{{Police.compagnie }}</td>
						<td>{{Police.assurés }}</td>
						<td> 
							<a href="{% url 'Police_update' Police.id %}" class="btn text-secondary px-0">
								<i class="far fa-edit fa-lg">
								 modifier  
								</i>
							</a>
							<form action="{% url 'Police_delete' Police.id %}" method="POST">
								{% csrf_token %}
								<button type="submit" class="btn">
									<i class="far fa-trash-alt fa-lg text-danger float-right"></i>delete
								</button>
							</form>
			
						</td>
					</tr>
				   {% endfor %}
				</tbody>
			</table>
			<!-- /content area -->

			{% endblock content%}